{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "wp.element.createElement"
      }
    ],
    [
      "babel-plugin-auto-import",
      {
        "declarations": [
          {
            "named": "createElement",
            "path": "@wordpress/element"
          }
        ]
      }
    ]
  ]
}