.DS_Store
.vscode

/vendor
node_modules
/dist

/cypress/screenshots
/cypress/videos
/cypress/downloads

/docs/*
!/docs/guide

/.phpdoc

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.env