<div id="documents-uploader-modal" class="modal hidden">
    <div class="modal__content">
        <span class="modal__close">&times;</span>
        <div class="modal-header">
            <h2 class="modal-title">{{ 'Upload documents' }}</h2>
        </div>
        <div class="modal-body">
            <form id="documents-uploader-form" method="post" enctype="multipart/form-data">
            {% for requiredDocument in requiredDocuments %}
            <div class="filepond-file-label">
                <label for="documents-input-{{ requiredDocument.type }}">{{ requiredDocument.label }}</label>
            </div>
            <input type="file" name="documents" class="filepond-file-input" id="documents-input-{{ requiredDocument.type }}" multiple>
            {% endfor %}
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>