#wpbody-content #HGES-settings-page {
  font-family: 'MierA-Demi';
  padding: 10px 20px 0 20px;
  background-color: #FFF;
  margin-left: -20px;
}

#HGES-settings-page input[type="checkbox"] {
  transform: scale(1.1);
  background-color: #F5F6F7;
  border-color: #D0D5DA;
}

#HGES-settings-page h1{
  margin-bottom: 0;
}

#HGES-settings-page h2 {
  font-size: 1.2rem;
}

#HGES-settings-page h3{
  margin-top: 0.5rem;
}

#HGES-settings-page label {
  color: #323840;
}

#HGES-settings-page #alert-api-text {
  margin-bottom: 0;
}

.body {
  background-color: #FFF;
}

.key-settings, .address-settings {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000;
}

.key-input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 75%;
}

.key-input-container input{
  width: 60%;
  min-width: 400px;
}

#env-settings-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.highlighted-info {
  background-color: #fff3e0;
  border: 1px solid #ff9800;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.highlighted-info.production {
  background-color: #e7f3fe;
  border: 1px solid #2196F3;
}

#validate-api {
  background-color: #FFF;
  border: 1px solid #000;
  color: #000;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

#validate-api:hover {
  background-color: #3e454f;
  color: #FFF;
  border: 1px solid #3e454f;
}

.address-input-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.address-input-container select{
  min-width: 60%;
}

#submitkey, #submitaddress, #configuration_form #submit_button {
  background-color: #000;
  border: 1px solid #000;
  color: #FFF;
  padding: 0.2rem 1rem;
  border-radius: 5px;
}

#submitkey:hover, #submitaddress:hover, #configuration_form #submit_button:hover {
  background-color: #3e454f;
}

.address-container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 400px;
  width: 100%;
}

.address-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 0;
}

.address-item .address-label {
  min-width: 20%;
  padding: 0.5rem 0;
}

.address-item .address-value {
  max-width: 65%;
  flex-grow: 1;
  padding: 0.5rem 1rem;
}

.packaging-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.section-label {
  font-size: 1rem;
  min-width: 20%;
}

.packaging-options, .working-days-options, .carrier-preference-options {
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  width: 65%;
}

.packaging-options fieldset {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.packaging-options fieldset h4 {
  margin: 0.2rem 0;
}

.packaging-group {
  display: flex;
  flex-direction: column;
}

.min-nbr-bottles-section, .preparation-time-section, .delivery-preference-section, .duties-tax-section, .vat-number-section, .oss-section, .eori-number-section, .fda-number-section, .insurance-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.min-nbr-bottles-input, .preparation-time-input, .delivery-preference-input, .duties-tax-input, .vat-number-input, .oss-input, .eori-number-input, .fda-number-input, .insurance-input {
  padding: 0.5rem 1rem;
  width: 65%;
}

.min-nbr-bottles-input input, .preparation-time-input input, .delivery-preference-input select, .duties-tax-input select, .vat-number-input input, .eori-number-input input, .fda-number-input input, .insurance-input select, .oss-input select {
  border: 1px solid #E0E8ED;
}

.delivery-preference-input select, .duties-tax-input select, .oss-input select, .insurance-input select {
  min-width: 25%;
}

.working-days-section, .carrier-preference-section, .minhour-cutoff-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.working-days-options fieldset div, .carrier-preference-options fieldset div {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.minhour-cutoff-options {
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 65%;
}

.minhour-cutoff-options div:first-child {
  margin-bottom: 0.5rem;
}

.minhour-cutoff-options input {
  border: 1px solid #E0E8ED;  
}

.bordered {
  border: 2px solid #E0E8ED;
  border-radius: 5px;
}

p.submit {
  padding-top: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #000;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: small;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.form-table .validable-field {
  border: 3px solid #ccc;
}

.validable-field.valid {
  border-color: #4caf50;
}
.validable-field.invalid {
  border-color: #f44336;
}

.time-field-label {
  display: inline-block;
  width: 5rem;
}

#hges-shipping-rate-modal .modal__content .modal__header .modal__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.marker-green {
  color: green;
}

.marker-red {
  color: red;
}

.filepond--drop-label.filepond--drop-label label  {
  font-size: 0.8rem;
}

.filepond-file-input {
  width: 100%;
  max-width: 350px;
}