#wpcontent {
  font-family: 'MierA-Demi';
  background-color: #FFF;
}

#wpbody-content h1{
  margin-bottom: 0;
}

#wpbody-content h2{
  margin-bottom: 0;
}

#wpbody-content h3{
  margin-top: 0.5rem;
}

#HGES-settings p.submit {
  padding-top: 0;
  margin-top: 12px;
  margin-bottom: 30px;
}
#HGES-settings li {
  list-style-type: square;
  margin-left: 30px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: small;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.form-table .validable-field {
  border: 3px solid #ccc;
}

.validable-field.valid {
  border-color: #4caf50;
}
.validable-field.invalid {
  border-color: #f44336;
}

.time-field-label {
  display: inline-block;
  width: 5rem;
}

#hges-shipping-rate-modal .modal__content .modal__header .modal__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.marker-green {
  color: green;
}

.marker-red {
  color: red;
}

.filepond--drop-label.filepond--drop-label label  {
  font-size: 0.8rem;
}

.filepond-file-input {
  width: 100%;
  max-width: 350px;
}