#wpcontent {
  font-family: 'MierA-Demi';
  background-color: #FFF;
  padding-right: 20px;
}

#wpbody-content h1{
  margin-bottom: 0;
}

#wpbody-content h3{
  margin-top: 0.5rem;
}

label {
  color: #323840;
}

#alert-api-text {
  margin-bottom: 0;
}

.key-settings, .address-settings {
  display: flex;
  flex-direction: column;
}

.key-input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 75%;
}

.key-input-container input{
  width: 60%;
  min-width: 400px;
}

#validate-api {
  background-color: #FFF;
  border: 1px solid #000;
  color: #000;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

#validate-api:hover {
  background-color: #3e454f;
  color: #FFF;
  border: 1px solid #3e454f;
}

.address-input-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.address-input-container select{
  min-width: 60%;
}

#submitkey, #submitaddress {
  background-color: #000;
  border: 1px solid #000;
  color: #FFF;
  padding: 0.2rem 1rem;
  border-radius: 5px;
}

#submitkey:hover, #submitaddress:hover {
  background-color: #3e454f;
}

.address-container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 400px;
  width: 100%;
}

.address-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 0;
}

.address-item .address-label {
  max-width: 30%;
  min-width: 10%;
  padding: 0.5rem 0;
}

.address-item .address-value {
  max-width: 65%;
  flex-grow: 1;
  padding: 0.5rem 1rem;
}


.bordered {
  border: 2px solid #E0E8ED;
  border-radius: 5px;
}

p.submit {
  padding-top: 0;
  border-bottom: 2px solid #000;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #000;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: small;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.form-table .validable-field {
  border: 3px solid #ccc;
}

.validable-field.valid {
  border-color: #4caf50;
}
.validable-field.invalid {
  border-color: #f44336;
}

.time-field-label {
  display: inline-block;
  width: 5rem;
}

#hges-shipping-rate-modal .modal__content .modal__header .modal__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.marker-green {
  color: green;
}

.marker-red {
  color: red;
}

.filepond--drop-label.filepond--drop-label label  {
  font-size: 0.8rem;
}

.filepond-file-input {
  width: 100%;
  max-width: 350px;
}