.wc-block-components-shipping-rates-control__package {
  display: none !important;
}

.shipping-rates {
  font-family: 'MierA-Demi', sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.shipping-rates div > label {
  width: 100%;
}

.rate-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
}

.shipping-rates .rate-content:hover {
  background-color: #EFF3F5;
  cursor: pointer;
}

.rate-content.selected {
  background-color: #EFF3F5;
}

.rate-content.selected:hover {
  background-color: #EFF3F5;
  cursor: pointer;
}

.rate-left {
  display: flex;
  flex-direction: row;
}

.rate-logo {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.rate-logo img { 
  border-radius: 5px;
} 

.rate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rate-name {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.rate-date-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rate-estimated-date {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0;
}

.rate-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rate-price, .rate-price-pickup {
  font-weight: 600;
  font-size: 1rem;
  margin-block-end: 0;
  margin-block-start: 0;
}

.rate-price-pickup {
  margin-top: 0.5rem;
}

.accordion {
  border: 1px solid #E0E8ED;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: none;
  padding: 1rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  cursor: pointer;
}

.accordion-content {
  padding: 0 1rem 0.5rem 1rem;
  border-top: none;

}

.wp-block-woocommerce-cart-order-summary-shipping-block .rate-left .rate-logo {
  display: none;
}

.rate-name .rate-logo-image {
  width: 1rem;
  margin-right: 0.5rem;
}

.wp-block-woocommerce-checkout-fields-block .rate-name .rate-logo-image {
  display: none;
}

.wp-block-woocommerce-checkout-order-summary-block {
  border-bottom: none;
}

.order-totals-shipping-rates-hges-fill {
  display: none;
}

#totals-selected-pickup-point-template {
  display: none;
}

#totals-selected-pickup-point-current {
  padding: 0 1rem;
}

.selected-pickup-point {
  padding: 0;
}
.selected-pickup-point h3 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 0 0.2rem 0;
}

.selected-pickup-point p {
  font-size: 0.7rem;
  font-weight: bold;
  margin: 0;
}

.selected-pickup-point .button-container {
  display: flex;
  justify-content: center;
}

.selected-pickup-point .button {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  max-width: 100%;
}