@font-face {
    font-family: "MierA-Demi";
    src: url("../fonts/MierA-Demi.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MierA-Light";
    src: url("../fonts/MierA-Light.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}