#pickup-points-map {
  width: 100%;
  height: 100%;
}

#pickup-points-list {
  width: 35%;
}

#pickup-points-list .pickup-point {
  padding: 1rem;
  border: 1px solid #ccc;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pickup-points-list .pickup-point:last-child {
  border-bottom: 1px solid #ccc;
}

.pickup-point .pickup-point__title {
  font-size: 1rem;
  font-weight: bold;
}

.pickup-point .pickup-point__distance{
  font-size: 0.7rem;
  font-style: italic;
  color: #666;
}

.leaflet-touch .leaflet-bar a {
    text-decoration: none;
}