#pickup-points-map {
  width: 100%;
  height: 100%;
}

.floating-button-container {
  position: absolute;
  top: 4.5rem;
  left: 55%;
  background-color: #6F767E;
  z-index: 1000;
}

.floating-button-container button:hover {
  color: #FFF;
  border: none;
  background-color: #444;
}

#pickup-points-list {
  max-height: calc(100%);
  overflow-y: auto;
}

#pickup-points-list .pickup-point {
  padding: 1rem;
  border: 1px solid #E0E8ED;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.2;
  font-size: 0.8rem;
  text-align: left;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

#pickup-points-list .pickup-point:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

#pickup-points-list .pickup-point a {
  text-decoration: none;
  color: #000;
}

#pickup-points-list .pickup-point .pickup-point__title {
  margin-bottom: 0.5rem;
}


#pickup-points-list .pickup-point:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#pickup-points-list .pickup-point:last-child {
  border-bottom: 1px solid hsla(0, 0%, 7%, .11);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pickup-point .pickup-point__title,
.marker-popup__title {
  font-size: 0.9rem;
  font-weight: bold;
}

.pickup-point .pickup-point__address,
.marker-popup__address {
  font-size: 0.7rem;
  font-weight: bold;
}


.pickup-point .pickup-point__distance,
.marker-popup__distance {
  font-size: 0.7rem;
}

.leaflet-touch .leaflet-bar a {
    text-decoration: none;
}

.pickup-point__select-btn {
  margin-top: 1rem;
  background-color: #6F767E;
  color: #FFF;
  border: none;
}

.pickup-point__select-btn:hover {
  background-color: #444;

.map-container {
  border-radius: 5px;
}