#pickup-points-map {
  width: 100%;
  height: 100%;
}

#pickup-points-list {
  max-height: calc(100% - 4rem);
  overflow-y: auto;
}

#pickup-points-list .pickup-point {
  padding: 1rem;
  border: 1px solid hsla(0, 0%, 7%, .11);
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pickup-points-list .pickup-point:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#pickup-points-list .pickup-point:last-child {
  border-bottom: 1px solid hsla(0, 0%, 7%, .11);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pickup-point .pickup-point__title,
.marker-popup__title {
  font-size: 0.9rem;
  font-weight: bold;
}

.pickup-point .pickup-point__address,
.marker-popup__address {
  font-size: 0.7rem;
  font-weight: bold;
}


.pickup-point .pickup-point__distance,
.marker-popup__distance {
  font-size: 0.7rem;
  font-style: italic;
  color: #666;
}

.leaflet-touch .leaflet-bar a {
    text-decoration: none;
}

.pickup-point__select-btn {
  margin-top: 1rem;
}