.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15vh 15vw;
}

.modal.hidden {
    display: none;
}

.modal .modal__content {
    display: flex;
    gap: 1rem;
    position: relative;
    background-color: #fefefe;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.modal .modal__side {
    margin-top: 3rem;
}

.modal .modal__close {
    color: #aaa;
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    padding: 0;
}

.modal .modal__close span {
    display: block;
    width: 100%;
    height: 100%;
}

.modal .modal__close span svg {
    width: 100%;
    height: 100%;
}