.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.hidden {
    display: none;
}

.modal .modal__content {
    position: relative;
    background-color: #fefefe;
    margin: 15vh 15vw;
    padding: 1rem;
    width: 80%;
}

.modal .modal__close {
    color: #aaa;
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
}