.modal {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15vh 15vw;
}

.modal.hidden {
    display: none;
}

.modal .modal__content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    position: relative;
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.modal .modal__content .modal__header {
    padding: 1rem;
}

.modal .modal__content .modal__header .modal__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}


.modal .modal__content .modal__body {
    display: flex;
    gap: 1rem;
}


.modal .modal__side {
    margin-top: 3rem;
    width: 35%;
}

.modal .modal__close {
    color: #aaa;
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    padding: 0;
    z-index: 100000;
    font-size: 3rem;
    cursor: pointer;
}

.modal .modal__close span {
    display: block;
    width: 100%;
    height: 100%;
}

.modal .modal__close span svg {
    width: 100%;
    height: 100%;
}

.modal__load-mask {
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 99999;
}

.modal__load-mask.hidden {
    display: none;
}