.modal {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15vh 15vw;
}

.modal h3 {
    font-family: 'MierA-Light', sans-serif;
    font-size: 1.3rem;
}

.modal h4 {
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 0.3rem;
}

.modal.hidden {
    display: none;
}

.modal .modal__content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    position: relative;
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.modal .modal__content {
    padding: 1rem;
}

.modal .modal__content .modal__header {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.modal .modal__title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
}

.products-to-dispatch {
    font-size: 1rem;
}

.modal .modal__content .modal__body {
    display: flex;
    gap: 1rem;
    overflow-y: auto;
    height: 80%;
}


.modal .modal__side {
    margin-top: 3rem;
    width: 35%;
}

.modal .modal__close {
    color: #000;
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    padding: 0;
    z-index: 100000;
    font-size: 3rem;
    cursor: pointer;
}

.modal .modal__close span {
    display: block;
    width: 100%;
    height: 100%;
}

.modal .modal__close span svg {
    width: 100%;
    height: 100%;
}

.modal__load-mask {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 99999;
}

.modal__load-mask.hidden {
    display: none;
}

.modal__header {
    border-bottom: 1px solid #000;
    padding: 0.5rem 0;
}

.modal__footer {
    margin-top: auto;
}

.modal__footer button {
    background-color: #6F767E;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.modal__footer button:hover {
    background-color: #5A5D63;
}

.package-select label {
    font-family: 'MierA-Light', sans-serif;
    margin-bottom: 0.5rem;
    display: block;
    margin-bottom: 0;
}

.package-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.package-modal-details__label{
    line-height: 1rem;
    font-family: 'MierA-Demi', sans-serif;
}

.plus-round-button {
    font-family: 'MierA-Demi', sans-serif;
    color: #6F767E;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #6F767E;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}

.plus-round-button:hover {
    background-color: #F0F0F0;
    border-color: #5A5D63;
    color: #5A5D63;
}