.shipping-method-row {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: white;
    text-align-last: left;
}

.shipping-method-row-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
}

#order_shipping_line_items
.shipping 
.name {
    width: 80%;
}

.packaging-details {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}

.packaging-option-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.packaging-option-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
    width: 30%;
}

.packaging-option-item .remove-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.packaging-option-item div {
    text-align: left;
}

.packaging-option-item h4 {
    margin-top: 0;
}

.hges-button {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-size: 0.8rem;
}

.edit-order-button {
    background-color: #FFF;
    border: 1px solid #6F767E;
    color: #6F767E;
    text-decoration: none;
}
.edit-order-button:hover {
    background-color: #F0F0F0;
    border-color: #5A5D63;
    color: #5A5D63;
}

.validate-shipment-button {
    background-color: #6F767E;
    border: none;
    color: #FFF;
}
.validate-shipment-button:hover {
    background-color: #5A5D63;
}   
