.hges-shipping-method {
  font-family: 'MierA-Demi', sans-serif;
  border: 1px solid #E0E8ED;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  transition: border-color 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hges-shipping-method-left {
  display: flex;
  flex-direction: row;
}

.hges-shipping-label {
  font-weight: bold;
}

.hges-shipping-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.hges-shipping-logo img {
  border-radius: 6px;
}

.hges-shipping-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type="radio"]:checked + label .hges-shipping-method,
.hges-shipping-method.selected {
  background-color: #EFF3F5;
  border: solid hsla(0, 0%, 7%, 0.11);
}

input[type="radio"] + label .hges-shipping-method .pickup-point-button{
  display:none;
}

input[type="radio"]:checked + label .hges-shipping-method .pickup-point-button {
  display:block;
}

.hges-shipping-method:hover {
  background-color: hsla(0, 0%, 7%, 0.11);
  cursor: pointer;
}
.cart_totals .shipping_method,
.woocommerce-checkout .shipping_method {
  display: none;
}

.woocommerce-checkout-review-order-table h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.pickup-point-button {
  text-align: center;
  border-radius: 8px;
  color: #6F767E;
  font-weight: bold;
  padding: 12px;
  border: 2px solid #6F767E;
}

.pickup-point-button:hover {
  color: hsla(0, 0%, 100%, 0.793);
  background-color: hsla(0, 0%, 7%, 0.3);
  cursor: pointer;
}

#selected-pickup-point.hidden {
  display: none;
}

#selected-pickup-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 0;
}

#selected-pickup-point-name {
  margin-top: 1rem;
}

.shipping-rate-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-top: 2rem;
}