.hges-shipping-method {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  transition: border-color 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hges-shipping-method-left {
  display: flex;
  flex-direction: row;
}

.hges-shipping-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hges-shipping-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hges-shipping-logo {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

input[type="radio"]:checked + label .hges-shipping-method {
  background-color: #90ee9081;
  border: solid hsla(0, 0%, 7%, 0.11);
}

.hges-shipping-method:hover {
  background-color: hsla(0, 0%, 7%, 0.11);
  cursor: pointer;
}
.cart_totals .shipping_method,
.woocommerce-checkout .shipping_method {
  display: none;
}

.woocommerce-checkout-review-order-table h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
