<div class="options_group">
	<p class="form-field shipping_class_field">
		<label for="">HS Code</label>
		<input {{ fieldsDisabled }} type="text" class="short" name="product_hs_code" id="product_hs_code" value="{{ product_hs_code }}" placeholder="Enter HS Code" />
		<span class="woocommerce-help-tip" tabindex="0" aria-label="HS Code is used to identify the product for customs purposes."></span>
	</p>
	<p class="form-field shipping_class_field">
		<label for="product_appellation">Appellation</label>
		<textarea {{ fieldsDisabled }} class="short" name="product_appellation" id="product_appellation" placeholder="Enter Appellation">{{ product_appellation }}</textarea>
		<span class="woocommerce-help-tip" tabindex="0" aria-label="Appellation is used to identify the product for customs purposes."></span>
	</p>
</div>
        